@media all{
    #mNav{
        visibility:collapse;
    }
}

@media (max-width: 1024px){
    #logo > a > img{
        width:23.8%;
        height:auto;
    }

    .title{
        text-align:center;
    }

    .large_title > .header{
        font-size:3.2rem;
    }

    .sub_title > *{
        font-size:1.3rem;
    }

    #footer_logo > img {
        width:26.2%;
        height: auto;
    }

    table > * {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    #logo, #welcome, #lnb{
        visibility:collapse;
    }

    .title{
        text-align:center;
    }

    #mNav{
        text-align:center;
        visibility:visible;
    }

    #lnb_d{
        visibility:collapse;
    }

    .large_title > .header {
        font-size:2.6rem;
    }

    .sub_title > *{
        font-size: 1.2rem;
    }

    #outing_detail > tbody > tr > td:first-child, #outing_detail > thead > tr > td:first-child {
        display: none;
    }

    footer{
        font-size:0.8rem;
        text-align:center;
    }

    #footer_logo > img {
        width:200px;
        height:auto;
    }

    table > * {
        font-size: 0.6rem;
    }
}

@media (max-width:412px){

    .title{
        text-align:center;
    }

    .large_title > .header {
        font-size:1.5rem;
    }

    .sub_title > *{
        font-size:0.7rem;
    }

    #outing_detail > tbody > tr > td:first-child, #outing_detail > thead > tr > td:first-child {
        display: none;
    }

    footer{
        font-size:0.15em;
    }

    #mLogo{
        content:url('../logo_device_m.png');
    }

    table > * {
        font-size: 0.4rem;
    }
}